body{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
header{
   display: flex;
   justify-content: center;
}
header p{
   margin-right: 50px;
}

 /* Animation du svg */ 
 
@keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}

#svg {
    transform-origin: center;
    animation: swing 2s ease-in-out infinite;
}

/* body  */

.card-left{
    padding: 0 25px;
    font-weight: bold;
    font-size: xxx-large;
    overflow: auto;
}
span{
    margin-bottom: 15px;
}


/* responsivité   */

@media screen and (max-width: 750px) {
    header{
        display: flex;
        flex-direction: column;
     }
}